{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template quizaccess_shinkan/reportlogs

    TODO describe template reportlogs

    Example context (json):
    {
    }
}}

<div class="w-100">
    <div class="table-responsive">
        <table class="generaltable display" id="department-index" >
            <thead class="text-center bg-primary text-white">
                <tr>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Date and Time</th>
                    <th>Warnings</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {{# reportdata}}
            <tr>
                <td>{{fullname}}</td>
                <td>{{email}}</td>
                <td>{{datetime}}</td>
                <td>{{warnings}}</td>
                <td>{{actions}}</td>                
               
            </tr>
            {{/ reportdata}}
            </tbody>
        </table>
    </div>
</div>
